h1 {
  text-align: center;
  border: groove;
}
#flores {
  text-align: center;
}
div {
  text-align: center;
  background-color: white;
  padding: 1px;
}
.texto {
  font-size: 40px;
}
.texto:hover {
  background-color: aqua;
}

.campo {
  padding: 4px;

  border-radius: 10px;
  width: 400px;
}
.campo:hover {
  background-color: aqua;
}
body {
  background-color: blue;
  margin: 0;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.menu li {
  padding: 6px;
  list-style-type: none;
}
.menu li:hover {
  background-color: aqua;
}
.rodape {
  background-color: black;
  height: 100px;
}
